html
  position relative
  min-height 100%

body
  margin-bottom 4rem

footer
  position absolute
  bottom 0
  width 100%
  height 60px

#topbar.bg-inverse
  background-color #111 !important
  font-size .75rem
  .navbar-nav
    margin -.25rem 0
  li
    margin-right 1rem

#main-head
  @media screen and (min-width 768px)
    padding-top 2rem
  .brand-logo
    font-size 4rem

.main-nav
  border 1px solid #eee
  border-left 0
  border-right 0
  box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.3)
  position relative
  .nav-item
    border-left 1px solid #f1f1f1
    padding-left .5rem
    padding-right .5rem
    &:last-child
      border-right 1px solid #f1f1f1
      // padding-right 1rem
  .form-control,.btn
    border-radius 0
  .brand-logo
    font-size 1.5rem !important
  nav
    padding .5rem 0

.navbar-fixed-top
  background-color white
  box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.3)
  position fixed
  top 0
  right 0
  left 0
  z-index 9999

.menu-background
  max-width 1140px
  margin auto
  z-index 9999
  padding-left 15px
  padding-right 15px

.main-featured
  background-color #f8f8f8
  border-bottom 1px solid #eee
  padding 2rem 0
  .figure
    margin 0
    position relative
    .figure-caption
      position absolute
      bottom 0
  .top-story .figure-caption
    padding 1rem
  .old-top-story .col-xs-6
    h4
      font-size 1rem
      margin-top inherit
    &:first-child
      padding-right 2px
    &:last-child
      padding-left 2px      
    .figure-caption
      padding 1rem .5rem

.main-magazine
  padding 2rem 0
  .figure
    margin 0
    position relative
    .figure-caption
      position absolute
      bottom 0
  .top-story .figure-caption
    padding 1rem
  .old-top-story .col-xs-6
    h4
      font-size 1rem
      margin-top inherit
    &:first-child
      padding-right 2px
    &:last-child
      padding-left 2px
    .figure-caption
      padding 1rem .5rem
