<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    {{ partial "topbar" . }}
    {{ partial "header" . }}

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="title"><a href="">{{ .Title }}</a></h1>
          <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
              <li><a href="{{ $value.Name | urlize }}/">{{ $value.Name }}</a> {{ $value.Count }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
