<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    {{ partial "topbar" . }}
    {{ partial "header" . }}
    
    {{ if where .Site.Pages "Section" (lower .Title) }}
      {{ partial "section-featured" . }}
      {{ partial "section-magazine" . }}

      {{ else }}
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
              <article>
                {{ .Content }}
              </article>
            </div>
          </div>
        </div>
    {{ end }}

    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
