<div class="main-featured">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 top-story">
        {{ range first 1 (where .Data.Pages "Params.summary" "!=" "hide") }}
          {{ .Render "featured" }}
        {{ end }}
      </div>
      <div class="col old-top-story">
        <div class="row">
          <div class="col">
            {{ range first 2 (after 1 (where .Data.Pages "Params.summary" "!=" "hide")) }}
              {{ .Render "featured" }}
            {{ end }}
          </div>
          <div class="col">
            {{ range first 2 (after 3 (where .Data.Pages "Params.summary" "!=" "hide")) }}
              {{ .Render "featured" }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
