<footer class="footer navbar-inverse bg-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        {{ $currentNode := . }}
        {{ range .Site.Menus.footer }}
        <li class="nav-item">
          <a href="{{.URL}}" class="nav-link{{if or ($currentNode.IsMenuCurrent "footer" .) ($currentNode.HasMenuCurrent "footer" .) }} active{{end}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
