<div class="main-magazine">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Music</h3>
        <div class="row">
          <div class="col top-story">
            {{ range first 1 (where .Site.Pages "Section" "music") }}
              {{ .Render "featured" }}
            {{ end }}
          </div>
          <div class="col old-top-story">
            <div class="row">
              <div class="col">
                {{ range first 2 (after 1 (where .Site.Pages "Section" "music")) }}
                  {{ .Render "featured" }}
                {{ end }}
              </div>
              <div class="col">
                {{ range first 2 (after 3 (where .Site.Pages "Section" "music")) }}
                  {{ .Render "featured" }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <h3>Theater</h3>
        <div class="row">
          <div class="col top-story">
            {{ range first 1 (where .Site.Pages "Section" "theater") }}
              {{ .Render "featured" }}
            {{ end }}
          </div>
          <div class="col old-top-story">
            <div class="row">
              <div class="col">
                {{ range first 2 (after 1 (where .Site.Pages "Section" "theater")) }}
                  {{ .Render "featured" }}
                {{ end }}
              </div>
              <div class="col">
                {{ range first 2 (after 3 (where .Site.Pages "Section" "theater")) }}
                  {{ .Render "featured" }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h3>Reviews</h3>
        
      </div>
    </div>
  </div>
</div>
